<%# turbo_page_requires_reload %>

<%# リストの設定一覧  %>
<div class="w-9/10 p-2 border rounded-md bg-blue-200/80 flex flex-col align-center justify-center<%= " bg-gray-300/80 border-gray-300" if @list.draft? %>">
  <h1 class="my-[1em] mx-auto text-xl font-medium">リストの設定</h1>
  <div class="w-9/10 mx-auto">
    <div class="flex flex-col justify-between items-center mx-auto text-xl">
      <%# 期限 %>
      <div class="w-full flex flex-col items-start mb-[1em]">
        <div class="w-1/4">期限:</div>
        <div class="w-full p-[1em] border-1 bg-gray-400/20 rounded-md">
          <%= @list.due_date.present? ? @list.due_date.strftime('%-m/%d') : "未設定" %>
        </div>
      </div>

      <%# 購入店 %>
      <div class="w-full flex flex-col items-start mb-[1em]">
        <div class="w-1/4">購入店:</div>
        <div class="w-full p-[1em] border-1 bg-gray-400/20 rounded-md">
          <%= @list.store.presence || "未設定" %>
        </div>
      </div>

      <%# メモ %>
      <div class="w-full flex flex-col items-start mb-[1em]">
        <div class="w-1/4">メモ</div>
        <div class="w-full p-[1em] border-1 bg-gray-400/20 rounded-md">
          <%= @list.memo %>
        </div>
      </div>
    </div>
  </div>

  <%# リストの編集ボタン  %>
  <div class="flex justify-center mt-[3em] mb-[1em]">
    <%= link_to "編集", edit_list_path(@list), class: "w-[5em] h-[3em] px-1 py-2 rounded-md bg-gray-400/70 hover:bg-gray-400 flex justify-center items-center font-medium mx-2" %>
    <%= button_to "削除", @list, method: :delete, data: { turbo: false}, class: "w-[5em] h-[3em] px-1 py-2 rounded-md text-white bg-red-600 hover:bg-red-500 flex justify-center items-center font-medium" %>
  </div>
</div>
