<% content_for :title, "Showing lists" %>

<div class="w-full flex flex-col justify-items-center items-center mt-[1em]">
  <% if notice.present? %>
    <p class="w-full py-2 px-3 bg-green-50 mb-5 text-center text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <h1 class="font-bold text-4xl">タイトル</h1>

  <%= render partial: "show_list" %>

  <div class="container flex justify-center mt-2">
    <%= link_to "編集", edit_list_path(@list), class: "w-[5em] h-[3em] px-1 py-2 rounded-md bg-gray-100 hover:bg-gray-50 flex justify-center items-center font-medium mr-2" %>
    <div class="w-[5em] h-[3em] px-1 py-2 rounded-md text-white bg-red-600 hover:bg-red-500 flex justify-center items-center font-medium">
      <%= button_to "削除", @list, method: :delete, data: { turbo: false} %>
    </div>
  </div>

    <%= link_to "戻る", lists_path, class: "w-[5em] h-[3em] px-1 py-2 rounded-md bg-gray-100 hover:bg-gray-50 flex justify-center items-center font-medium mt-4 mr-2" %>
</div>
