<% content_for :title, "Showing lists" %>

<div class="w-full flex flex-col justify-items-center items-center mt-[1em]">
  <% if notice.present? %>
    <p class="w-full py-2 px-3 bg-green-50 mb-5 text-center text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <%# リストについて %>
  <%# タイトル %>
  <div class="container w-4/5 flex flex-col justify-center items-center mb-[1em]">
    <h1 class="font-bold text-4xl">
      <%= @list.list_name %>
    </h1>
    <% if @list.draft? %>
      <p class="mt-[0.3em]">
        [下書き]
      </p>
    <% end %>
  </div>

  <%# アイテム一覧 %>
  <%= render partial: "show_list_items" %>

  <%# リスト設定 %>
  <%= render partial: "show_list_settings" %>

  <%# 戻るボタン %>
  <%= link_to "一覧へ戻る", lists_path, class: "w-[10em] h-[3em] px-1 py-2 rounded-md bg-gray-400/70 hover:bg-gray-400 flex justify-center items-center font-medium mt-[2em]" %>
</div>
