<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Next Buy" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-zinc-200/50">
    <%= render partial: '/common_menu/common_menu' %>

    <main class="relative container w-screen lg:w-2/3 xl:w-3/5 2xl:w-2/5 mx-auto flex items-center justify-start">
      <div class="w-screen h-[calc(100vh-4em)] overflow-y-auto">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
